[loggers]
keys=root, ValueSorterLog2, directory

[handlers]
keys=consoleHandler, fileHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler, fileHandler

[logger_ValueSorterLog2]
level=DEBUG
handlers=consoleHandler, fileHandler
qualname=ValueSorterLog2
propagate=0


[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=simpleFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
level=DEBUG
formatter=simpleFormatter
args=('logsample.txt',)



[formatter_simpleFormatter]
format=%(levelname)s %(asctime)s - %(message)s
datefmt=